In [2]:
!pip install settrade

Requirement already satisfied: settrade in c:\users\pitsanu mukdaprakorn\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: numpy in c:\users\pitsanu mukdaprakorn\anaconda3\lib\site-packages (from settrade) (1.20.3)

In [3]:
api_secret = 'YOUR_APP_SECRET'
api_key = 'YOUR_API_KEY'

In [4]:
import settrade.openapi
from settrade.openapi import Investor

In [5]:
user = Investor(
    app_id=api_key,
    app_secret=api_secret, 
    broker_id="SANDBOX",                                           
    app_code="SANDBOX",
    is_auto_queue = False)

derivatives_account = user.Derivatives(account_no="YOU_ACCOUNT")

In [6]:
derivatives_account.get_account_info()

{'success': True,
 'status_code': 200,
 'data': {'call_force_flag': 'No',
  'call_force_margin': 0.0,
  'cash_balance': 100000000.0,
  'credit_line': 99658400.0,
  'equity': 100000000.0,
  'excess_equity': 99658400.0,
  'total_mm': 341600.0,
  'total_mr': 341600.0},
 'message': ''}

In [11]:
derivatives_account.get_order(75313)

{'success': True,
 'status_code': 200,
 'data': {'account_no': 'Merionm-D',
  'balance_qty': 10,
  'cancel_qty': 0,
  'entry_date': '08/05/22',
  'entry_id': '',
  'entry_time': '13:38:33',
  'is_stop_order_not_activate': 'N',
  'match_qty': 0,
  'order_no': 75313,
  'position': 'Open',
  'price': 1000.0,
  'price_type': 'Limit',
  'qty': 10,
  'reject_code': 0,
  'reject_reason': '',
  'show_status': 'Pending(OF)',
  'side': 'Long',
  'status': 'OF',
  'status_meaning': 'Offline order',
  'symbol': 'S50H23',
  'tfx_order_no': '',
  'trigger_condition': '',
  'trigger_price': 0.0,
  'trigger_symbol': '',
  'validity': 'Day',
  'version': 0},
 'message': ''}

In [13]:
derivatives_account.place_order(
    symbol="S50Z22",
    price=1000,
    volume=10,
    side="LONG",
    position="OPEN",
    price_type="LIMIT",
    pin="000000")

{'success': True,
 'status_code': 200,
 'data': {'order_no': 75314},
 'message': ''}

In [14]:
equity_account = user.Equity(account_no="YOU_ACCOUNT")

In [15]:
equity_account.get_account_info()

{'success': True,
 'status_code': 200,
 'data': {'account_type': 'CASH_ACCOUNT',
  'additional_data': 0.0,
  'can_buy': True,
  'can_sell': True,
  'cash_balance': 10000000.0,
  'client_type': 'INDIVIDUAL',
  'credit_balance': False,
  'credit_limit': 10000000.0,
  'customer_type': 'CUSTOMER',
  'initial_cash_balance': 10000000.0,
  'initial_credit_limit': 10000000.0,
  'initial_line_available': 10000000.0,
  'line_available': 10000000.0,
  'net_settlement_line': 0.0},
 'message': ''}

In [23]:
equity_account.place_order(
    symbol="BANPU",
    price=13,
    volume=10,
    side="BUY",
    price_type="LIMIT",
    pin="000000")

{'success': True,
 'status_code': 200,
 'data': {'order_no': '1C978ROBNT'},
 'message': ''}

In [24]:
equity_account.get_order('1C978ROBNT')

{'success': True,
 'status_code': 200,
 'data': {'can_cancel': True,
  'can_change_account': True,
  'account_no': 'Merionm-E',
  'balance': 10,
  'cancel_id': '',
  'cancel_time': '',
  'cancelled': 0,
  'counter_party_member': '',
  'enter_id': '',
  'entry_time': '2022-05-08T13:43:20+0700',
  'iceberg_vol': 0,
  'matched': 0,
  'nvdr_flag': ' ',
  'order_no': '1C978ROBNT',
  'order_type': 'Normal',
  'price': 13.0,
  'price_type': 'LIMIT',
  'reject_code': 0,
  'reject_reason': '',
  'set_order_no': '',
  'show_order_status': 'Pending(OF)',
  'show_order_status_meaning': 'Offline order',
  'side': 'BUY',
  'status': 'OF',
  'symbol': 'BANPU',
  'trade_date': '2022-05-09',
  'trade_report_type': '',
  'trade_time': '',
  'validity': 'DAY',
  'version': 0,
  'vol': 10,
  'can_change_price_vol': True,
  'can_change_trustee_id': True,
  'trade_report': False},
 'message': ''}

In [25]:
market = user.MarketData()

In [42]:
response = market.get_candlestick("DTAC","1M",1000,"2000-01-01T00:00:00",
                                  "2022-12-31T00:00:00",True)

In [28]:
import pandas as pd

In [43]:
df = pd.DataFrame(response['data'])
df.head()

   last_sequence        time   open   high    low  close     volume
0              0  1180630800  41.00  49.50  40.75  45.50  131841078
1              0  1183222800  38.25  46.50  34.50  44.00  515756987
2              0  1185901200  46.00  48.75  44.00  46.25  222592053
3              0  1188579600  36.25  40.00  36.25  39.25   25439876
4              0  1191171600  37.75  37.75  32.75  37.00  426116507

In [44]:
df.drop('last_sequence', axis=1, inplace=True)
df.head()

         time   open   high    low  close     volume
0  1180630800  41.00  49.50  40.75  45.50  131841078
1  1183222800  38.25  46.50  34.50  44.00  515756987
2  1185901200  46.00  48.75  44.00  46.25  222592053
3  1188579600  36.25  40.00  36.25  39.25   25439876
4  1191171600  37.75  37.75  32.75  37.00  426116507

In [45]:
df['time'] = pd.to_datetime(df['time'], unit='s')

In [33]:
from datetime import timedelta

In [46]:
df['time'] = df['time'] + timedelta(hours=7)

In [47]:
df

          time   open   high    low  close     volume
0   2007-06-01  41.00  49.50  40.75  45.50  131841078
1   2007-07-01  38.25  46.50  34.50  44.00  515756987
2   2007-08-01  46.00  48.75  44.00  46.25  222592053
3   2007-09-01  36.25  40.00  36.25  39.25   25439876
4   2007-10-01  37.75  37.75  32.75  37.00  426116507
..         ...    ...    ...    ...    ...        ...
175 2022-01-01  46.25  47.50  44.00  45.75   39747101
176 2022-02-01  39.50  44.50  38.50  43.25   98141718
177 2022-03-01  49.00  51.00  45.75  46.00  107784303
178 2022-04-01  40.25  44.00  39.25  41.00  129653956
179 2022-05-01  45.00  48.50  37.75  48.50   39303325

[180 rows x 6 columns]

In [165]:
df['time'] + timedelta(hours=7)

0   2022-05-06
Name: time, dtype: datetime64[ns]